extends layouts/main 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title", placeholder="Title", type="text", required="true")
        input(name="description", placeholder="Description", type="text", required="true")
        input(name="hashtags", placeholder="Hashtags, separated by comma.", type="text", required="true")
        input(type="submit", value="Upload Video")